global:
  security:
    tls:
      enabled: TLS_ENABLED 
  networkPolicy:
    enabled: NETWORK_POLICY_ENABLED
  serviceMesh:
    enabled: SERVICE_MESH_ENABLED
imageCredentials:
  pullSecret: IMAGE_PULL_SECRET

ingress:
  enabled: INGRESS_ENABLED
  ingressClass: eric-tm-ingress-controller-cr
  hostname: GIT_REPOSITORY_HOST_NAME
  tls:
    enabled: TLS_ENABLED
    secretName: GIT_REPOSITORY_HOST_TLS_SECRET_NAME
    client:
      rootCaSecret: eric-sec-sip-tls-trusted-root-cert
      subjectName:  eric-lcm-git-repository-sm-gateway
initConfig:
  enabled: INIT_CONFIG_ENABLED

documentDatabasePG:
  customObject:
    enabled: true

appArmorProfile:
  type: "runtime/default"

seccompProfile:
  type: "RuntimeDefault"

# gitea config values
gitea:
  admin:
    email: "gitea@local.domain"
    secret: gitea-admin-secret
  config:
    redis:
      cache:
        enabled: true
      serviceName: eric-data-key-value-database-rd-cluster
      port: 6379
      serviceUser:
          secret:
            name: eric-lcm-git-repository-redis-service-user
            userKey: user
            passwordKey: password
    database:
      DB_TYPE: postgres
      HOST: eric-data-document-database-pg:5432
      NAME: gitea
      serviceUser:
        secret:
          #secret with following name will be created if initconfig enabled
          #secret containing service user credentials
          name: eric-lcm-git-repository-pg-service-user
          userKey: user
          passwordKey: password
    metrics:
      ENABLED: true

keyValueDatabaseRD:
  customObject:
    enabled: true
