apiVersion: v1
kind: Secret
metadata:
  name: eric-lcm-git-repository-pg-op-su-secret
stringData:
  custom-user: iamuser
  custom-pwd: KcsgJo4cVa
  super-pwd: cGFzc3dvcmQ
  metrics-pwd: exporter
  replica-user: replica
  replica-pwd: replica
